/* styles for parent containers in base. html */

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95vh;
}

.section-form-container {
    width: 30%;
    height: 85%;
    background-color: #F6F6F6;
    border-radius: 15px;
    border: 1px solid #E0E0E0;
    box-shadow: 2px 4px #E0E0E0;
}

.form-great-container {
    width: 100%;
    height: 100%;
}

.form-child-container {
    width: 100%;
    height: 100%;
}

/* styles for login and signup page */

.form-container {
    padding-top: 30px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-login {
    display: flex;
    flex-direction: column;
}


.company-title {
    font-family: Georgia, sans-serif;
    font-size: 30pt;
}

.control {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.field {
    margin-top: 15px;
    width: 100%;
}

.input-label {
    font-size: 15pt;
    font-weight: bold;
    margin-bottom: 2px;
}

.input {
    border: 1px solid #56ABD9;
    height: 30px;
    width: 300px;
    border-radius: 5px;
    
}
.input:focus {
    outline: none;
    box-shadow: 0px 0px 15px 2px #C5E1F0;
    border-radius: 5px;
}

.field .checkbox {
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-family: Sans-serif;
}

.button {
    width: 80px;
    align-self: center;
    margin-top: 20px;
    height: 30px;
    border: none;
    color: white;
    background-color: red;
    border-radius: 5px;
}

.button:hover {
    background-color: rgba(255, 0, 0, 0.5);
    cursor: pointer;
}

.danger {
    color: red;
    font-family: Sans-serif;
}

.signup_url, .signup_url a {
    font-family: Sans-serif;
    align-self: center;
    margin-top: 30px;
}

.signup_url a {
    color: rgba(255, 0, 0, 0.5);
}
