<!DOCTYPE html>
<html lang="en-gb">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link rel="stylesheet" href="../static/styles/reset.css?{{ uid }}" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
  <link rel="stylesheet" href="../static/styles/landing.css?{{ uid }}" />
  <link rel="stylesheet" href="../static/styles/board.css?{{ uid }}" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <title>Manage</title>
  <script>
    // render a light theme
    function lightTheme() {
	const root = $(':root');
	const toggle = $('#toggle');
	root.css('--mov_color', 'rgb(99, 99, 236)');
	root.css('--bg-color', 'rgb(227, 247, 246)');
	root.css('--txt-color', 'black');
	root.css('--task-color', 'white');
	root.css('--sub-task-color', 'rgba(0, 0, 0, 0.387)');
	root.css('--box-shadow', '3px 3px 2px #aaaaaaa0');
	root.css('--sidebar-border', '1px solid rgba(242, 237, 237, 0.571)');
	root.css('--column-color', 'rgb(216, 237, 236)');
	toggle.addClass('fa-toggle-off').removeClass('fa-toggle-on');
    }


    // render a dark theme
    function darkTheme() {
	const root = $(':root');
	const toggle = $('#toggle');
	root.css('--mov_color', 'rgb(123, 123, 223)');
	root.css('--bg-color', 'rgb(40, 40, 74)');
	root.css('--txt-color', 'rgb(255, 255, 255)');
	root.css('--task-color', 'rgb(51, 51, 92)');
	root.css('--sub-task-color', 'rgba(255, 255, 255, 0.41)');
	root.css('--box-shadow', '2px 2px 2px rgba(0, 0, 0, 0.387)');
	root.css('--sidebar-border', '1px solid rgba(242, 237, 237, 0.12)');
	root.css('--column-color', 'rgb(69, 69, 106)')
	toggle.addClass('fa-toggle-on').removeClass('fa-toggle-off');
    }
    const theme = localStorage.getItem('theme');
    if (theme === null) localStorage.setItem('theme', 'light')
    else if (theme === 'dark') darkTheme();
    else lightTheme();
    
  </script>
</head>
<body>
  <header>
    <div class="logo">
      <h1 class="logo_item1">Manage</h1>
      <h1 class="logo_item2">{{ bd.name }}</h1>
    </div>
      <p class="newTask" data-toggle="modal" data-target="#createTaskWindow">+Add New Task</p>
  </header>

  <!-- the side bar-->
  <section class="sidebar_section">
    <aside class="side_bar showSidebar">
      <ul class="list-group">
        <a href="#" class="list-group-item"><h1 class="logo_item1">Manage</h1></a>
        <a href="/boards" class="list-group-item boardlinks">ALL Boards({{ count }})</a>
        <a href="/boards/{{ bd.name.replace(' ', '_') }}" id ="dark-theme-active" class=" dark-theme list-group-item boardlinks active">{{ bd.name }}</a>
	{% for board in other_bd %}
        <a href="/boards/{{ board.name.replace(' ', '_') }}" class="list-group-item boardlinks">{{ board.name }}</a>
        {% endfor %}
        <li class="list-group-item boardlinks create_board" data-toggle="modal" data-target="#createBoardWindow">+Create New Board</li>
        <li class="list-group-item last"><i id = "toggle" class="fa fa-toggle-off fa-2x" aria-hidden="true"></i></li>
	<a href="/logout" class="list-group-item boardlinks">Logout</a>
        <li class="list-group-item side"><i id = "hide" class="fa fa-eye-slash" aria-hidden="true"></i> Hide sidebar</li>
      </ul>
    </aside>
    <div class="showbar"><i id = "show" class="fa fa-eye" aria-hidden="true"></i></div>
    <aside class="task_aside">
      {% for item in bd.items %}
      <aside class="task_aside{{ loop.index }} task_aside-item" id="{{ item.id }}">
        <p class='count_task'><i class="fa fa-circle" aria-hidden="true"></i> {{ item.name }} (<span class="countTasks">{{ item.tasks|length }}</span>)</p>
	{% for task in item.tasks %}
        <div class="task" data-toggle="modal" data-target="#viewTaskWindow" id="{{ task.id }}">
          <p class="task_head">{{ task.title }}</p>
          <p class="subtask_status">0 out of 3 tasks</p>
        </div>
	{% endfor %}
      </aside>
      {% endfor %}
      <aside id="create_column">
        <p class="new_column" data-toggle="modal", data-target='#createColumnWindow'>+New Column</p>
      </aside>
    </aside>
    <!-- Modal for view task-->
    <div class="modal fade" id="viewTaskWindow" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title taskTitle" id="exampleModalLongTitle">Build UI for onboarding workflow</h5>
            <button type="button" class="close">
              <span aria-hidden="true"><i class="fa fa-pencil-square-o edit" aria-hidden="true"></i></span>
            </button>
          </div>
          <div class="modal-body">
            <p contenteditable="true" class='task_description'>we know what we are building for version two and now we have to plan a new pricing model</p>
            
            <div id="modal_sub_tasks">
              <p>subtasks (2 of 3)</p>
	      <div id="subt"></div>
            </div><br>
            <div class="form-group">
              <label for="view_task_status">Status</label>
              <select class="form-control" id="view_task_status" disabled>
                <option class='statusInfo'>no where</option>
              </select>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary save">Save changes</button>
          </div>
        </div>
      </div>
    </div>
    <!-- modal for create task -->
    <div class="modal fade" id="createTaskWindow" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Add new task</h5>
          </div>
          <div class="modal-body">
            <label for="title">Title</label><br>
            <input type="text" class="title task_title"><br>
            <label for="title">Description</label><br>
            <textarea class="description task_des"></textarea>
            <div id="create_sub_tasks">
              <p>Subtasks</p>
              <input type="text" class="create_sub_tasksop" value=""> <i class="fa fa-times removeTask" aria-hidden="true"></i><br>
              <input type="text" class="create_sub_tasksop" value=""> <i class="fa fa-times removeTask" aria-hidden="true"></i><br>
            </div>
            <button type="button" class="btn btn-primary btn-lg btn-block add_sub_task"><p>+Add new subtask</p></button>
            <div class="form-group">
              <label for="create_task_status">Status</label>
              <select class="form-control" id="create_task_status">
		{% for item in bd.items %}
                <option>{{ item.name }}</option>
		{% endfor %}
              </select>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </div>
	    <p class='createTaskInfoma'></p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary btn-lg btn-block create_task"><p>Create Task</p></button>
          </div>
        </div>
      </div>
    </div>

    <!-- modal to create a board -->
    <div class="modal fade" id="createBoardWindow" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Create a new board</h5>
          </div>
          <div class="modal-body">
            <label for="title">Name</label><br>
            <input type="text" class="title" id='boardName'><br>
	    <p class='createBoardInfo'></p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary btn-lg btn-block create_task" id='createBoard'><p>Create Board</p></button>
          </div>
        </div>
      </div>
    </div>

    <!-- modal to create a column -->
    <div class="modal fade" id="createColumnWindow" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Create a new column</h5>
          </div>
          <div class="modal-body">
            <label for="title">Name</label><br>
            <input type="text" class="title" id='colName'><br>
	    <p class='createColumnInfo'></p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary btn-lg btn-block create_task" id='createColumn'><p>Create Column</p></button>
          </div>
        </div>
      </div>
    </div>

  </section>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script src="../static/js/logic.js?{{ uid }}"></script>
</body>
</html>
