<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Manage</title>
    <link rel="stylesheet" href="../../static/styles/auth.css?{{ uid }}" />
  </head>

  <body>
    <section class="hero is-primary is-fullheight section-form-container">

      <div class="hero-head">
	<nav class="navbar">
	  <div class="container">
	    <div id="navbarMenuHeroA" class="navbar-menu">
	      <div class="navbar-end">
		</a>
		<a href="{{ url_for('auth.login') }}" class="navbar-item">
		  Login
		</a>
		<a href="{{ url_for('auth.signup') }}" class="navbar-item">
		  Sign Up
		</a>
		<a href="{{ url_for('auth.logout') }}" class="navbar-item">
		  Logout
		</a>
	      </div>
	    </div>
	  </div>
	</nav>
      </div>

      <div class="hero-body form-great-container">
	<div class="container has-text-centered">
	  {% block content %}
	  {% endblock %}
	</div>
      </div>
    </section>
  </body>

</html>
