{% extends "auth/base.html" %}

{% block content %}
<div class="column is-4 is-offset-4 form-container">
  <h3 class="title company-title">Manage</h3>
  <div class="box">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="notification danger">
      {{ messages[0] }}
    </div>
    {% endif %}
    {% endwith %}
    <form method="POST" action="/signup" class='form-login'>
      <div class="field in-signup">
	<div class="control">
	  <label class='email-label input-label' for='email'>Email</label>
	  <input class="input is-large" type="email" name="email" placeholder="" autofocus="">
	</div>
      </div>

      <div class="field in-signup">
	<div class="control">
	  <label class='email-label input-label' for='name'>Name</label>
	  <input class="input input-label" type="text" name="name" placeholder="" autofocus="">
	</div>
      </div>
      

      <div class="field in-signup">
	<div class="control">
	  <label class='pass-label input-label' for='password'>Password</label>
	  <input class="input is-large" type="password" name="password" placeholder="">
	</div>
      </div>
      
      <div class="field">
	<label class="checkbox">
	  <input type="checkbox" name="remember">
	  Remember me
	</label>
      </div>
      <button class="button is-block is-info is-large is-fullwidth">Sign up</button>
      <p class="signup_url in-signup">Alread have an account? <a href='/login'>Login</a></p>
    </form>
  </div>
</div>
{% endblock %}
