/* General styles */
:root {
    --mov_color: rgb(123, 123, 223);
    --bg-color: rgb(40, 40, 74);
    --txt-color: rgb(255, 255, 255);
}

/* body styles */
body {
    background-color: var(--bg-color);
}
/* new task design */
.newTask {
    background-color: var(--mov_color);
    border-radius: 15px;
    padding: 3px;
}

/* header styles */
header {
    display: flex;
    justify-content: space-between;
    height: 50px;
    background-color: rgb(51, 51, 92);
    color: var(--txt-color);
}

header h1 {
    font-size: 20pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    margin: auto 2px;
}

header p.newTask {
    margin: auto 2px;
    cursor: pointer;
}

.logo {
    display: flex;
    width: 500px;
    justify-content: space-between;
}
.logo .logo_item1 {
    margin-right: 4px;
}

/* side bar styles */
.side_bar {
    width: 250px;
    margin-top: -50px;
    opacity: 1;
    height: 100vh;
}
.list-group {
    height: 100%;
    background-color: rgb(51, 51, 92);;
}
.list-group .last {
    margin-top: auto;
}
.list-group-item {
    background-color: rgb(51, 51, 92);
    color: white;
    border: none;
}
a:hover {
    text-decoration: none;
    color: white;
}