/* General styles */
:root {
    --mov_color: rgb(99, 99, 236);
    --bg-color: rgb(227, 247, 246);
    --txt-color: black;
    --task-color: white;
    --sub-task-color:  rgba(0, 0, 0, 0.387);
    --box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.387);
    --bg-color-light: rgb(227, 247, 246);
    --txt-color-light: black;
    --task-color-light: white;
    --sub-task-color-light:  rgba(0, 0, 0, 0.387);
    --mov_color-light: rgb(99, 99, 236);
    --box-shadow-light: 3px 3px 2px #aaaaaaa0;
    --bg-: rgb(40, 40, 74);
    --txt: rgb(255, 255, 255);
    --tax: rgb(51, 51, 92);
    --sub: rgba(255, 255, 255, 0.41);
    --mov: rgb(123, 123, 223);
    --sidebar-border: 1px solid rgba(242, 237, 237, 0.571);
}
  
/* body styles */
body {
    background-color: var(--bg-color);
}
/* new task design */
.newTask {
    background-color: var(--mov_color);
    color: white;
    border-radius: 15px;
    padding: 3px;
    box-shadow: var(--box-shadow);
}

/* header styles */
header {
    display: flex;
    justify-content: space-between;
    height: 50px;
    background-color: var(--task-color);
    color: var(--txt-color);
}

header h1 {
    font-size: 20pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    margin: auto 2px;
}
p {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

header p.newTask {
    margin: auto 8px;
    cursor: pointer;
}

.logo {
    display: flex;
    width: 500px;
    justify-content: space-between;
}
.logo .logo_item1 {
    margin-right: 4px;
}

.task_aside {
    overflow-x: auto;
    overflow-y: hidden;
}

/* side bar styles */
.sidebar_section {
    display: flex;
}
.side_bar {
    min-width: 250px;
    margin-top: -50px;
    opacity: 1;
    height: 100vh;
    border-right: var(--sidebar-border);
}

.list-group {
    height: 100%;
    background-color: var(--task-color);
}

.list-group .last {
    margin-top: auto;
}
.list-group-item {
    border: none;
    cursor: pointer;
    background-color: var(--task-color);
    color: var(--txt-color);
}
.boardlinks:hover {
    width: 90%;
    border-bottom-right-radius: 40px;
    border-top-right-radius: 40px;
    background-color: var(--mov_color);
}
a:hover {
    text-decoration: none;
    color: var(--txt-color);
}
.list-group .logo_item1 {
    font-size: 20pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    margin: auto 2px;
}
.list-group .list-group-item.active {
    width: 90%;
    border-bottom-right-radius: 40px;
    border-top-right-radius: 40px;
    background-color: var(--mov_color);
}

.list-group .last .fa-toggle-on, .list-group .last .fa-toggle-off {
    color: var(--mov_color);
}

.showbar {
    background-color: var(--task-color);
    height: 25px;
    width: 20px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-top: 3px;
    display: none;
}

.showbar #show {
    color: var(--mov_color);
    margin-bottom: auto;
    cursor: pointer;
}

/* task aside styles */
.task_aside {
    margin-left: 10px;
    display: flex;
}

.task_aside-item {
    margin-right: 20px;
}

/* styles for each task */
.task {
    min-width: 270px;
    max-width: 230px;
    max-height: 100px;
    height: 80px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: var(--task-color);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    box-shadow: var(--box-shadow);
}

.task_aside1 .fa-circle {
    color:rgb(106, 185, 246);
}

.task_aside2 .fa-circle {
    color: var(--mov_color);
}
.task_aside3 .fa-circle {
    color: rgb(114, 227, 114);
}

.task .task_head {
    color: var(--txt-color);
    font-weight: bold;
}
.task .subtask_status {
    color: var(--sub-task-color);
}
aside p {
    color: var(--sub-task-color);
}

/* viewTask modal styles override */
#viewTaskWindow .modal-dialog .modal-content {
    background-color: var(--bg-color);
}
.modal-header, .modal-body, .modal-footer {
    border: none;
}

#viewTaskWindow .modal-title {
    color: white;
}
.subtaskcontent {
    display: inline;
}


.done {
    text-decoration: line-through;
}